<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1980s</title>
    <link rel="stylesheet" href="css/vintas.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</head>
<body>
    {{>header}}
    <div class="news-banner-detail container-fluid px-0">
        <div class="row gx-none">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="padding: 0;">
                <img src="/image/vintas/Blog-1980s_0.jpg"style="padding: 0;" alt="">
            </div>
        </div>
    </div> 
    <div class="news-detail-title container-fluid px-0">
        <h3 class="title">VINTAS SAIGON 1980s</h3>
        <h3 class="title-1">Cảm hứng Sài Gòn xưa giữa thời hiện đại</h3>
    </div>
    <div class="news-detail-cont container-fluid px-0">
        <h3 class="divider-1"></h3>
        <br>
        Là một bộ sưu tập thuộc dòng sản phẩm Vintas, 
        <strong><em>Saigon 1980s Pack</em></strong>
        đem đến một sự lựa chọn “cũ kỹ thú vị”, phù hợp cho những người trẻ sống giữa thời hiện đại nhưng lại yêu cái nét bình dị của Sài Gòn ngày xưa. <br><br>
        <div class="img-style-4">
            <div class="img-full">
                <img src="image/vintas/Blog-1980s_1.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="news-detail-cont container-fluid px-0">
        <div class="note">Vintas “Saigon 1980s” - must-have item của những con người yêu phong cách vintage / retro</div>
    </div>
    <br>
    <div class="news-detail-date container-fluid px-0">
        <h3 class="divider-1"></h3>
        <h3 class="title-2">SAIGON 1980s PACK THUỘC VINTAS - MỘT DÒNG SẢN PHẨM CỦA JI YEON</h3>
        <h3 class="divider-1"></h3>
    </div>
    <div class="news-detail-cont container-fluid px-0">
        <br><div style="text-align: justify;">Với cảm hứng từ hình ảnh mang "màu film" của đường phố Sài Gòn, nét riêng của Vintas Saigon 1980s Pack nổi bật qua đặc điểm: không “nét căng”, không rực rỡ mà lại thiên về sắc xanh, đỏ nhiều cảm xúc. Cụ thể, những màu sắc như Dark Denim, Vin Black, Sedona Sage và Vin Cordovan được ứng dụng trong thiết kế đều là những màu bạn dễ dàng bắt gặp khi tìm đọc các tài liệu về Sài Gòn trong quá khứ. Trên dáng giày Low Top / High Top cơ bản, cảm giác hoài niệm mà Vintas Saigon 1980s mang lại gợi người ta nhớ về hình bóng của Sài Gòn vào những năm “1900 hồi đó”. Gam màu trầm của Upper khi sử dụng chất liệu Canvas dày dặn phối cùng Suede, cộng thêm sự chắc chắn của chiếc đế cao su (vulcanized) màu gum tự nhiên, 5 lựa chọn thuộc Vintas Saigon 1980s Pack tạo nên một bức tranh hoài cổ, thể hiện sự điềm đạm trong tính cách người mang. </div><br>
        <div class="img-full">
            <img src="image/vintas/Blog-1980s_2.jpg" alt="">
        </div>
    </div>
    <div class="news-detail-cont container-fluid px-0">
        <div class="note">Bộ sản phẩm mang hơi thở của đô thành Sài Gòn</div>
    </div>
    <br>
    <div class="news-detail-cont container-fluid px-0">
        <div class="img-full">
            <img src="image/vintas/Blog-1980s_3.jpg" alt="">
        </div>
    </div>
    <div class="news-detail-cont container-fluid px-0">
        <div class="note">Giữa thành phố Sài Gòn “rất mới” vẫn còn đó những con người Sài Gòn “rất cũ”</div>
    </div>
    <div class="news-detail-cont container-fluid px-0">
        <br>Những quán cà phê “cóc” kê cái bàn, cái ghế đơn giản với đủ mọi đối tượng khách hàng từ anh xe ôm đến bác hàng xóm ra ngồi đọc báo, chơi cờ; những tiệm may đo áo dài, veston nơi người thợ may tự tay cầm thước dây đo khách từng chút một; những chiếc bạt dựng tạm nơi vỉa hè cùng dòng chữ “hớt tóc” viết vội bằng tay. Nghĩ về Sài Gòn xưa, có lẽ rất khó để không nhớ đến những hình ảnh đặc trưng này. <br>
        <div class="img-full">
            <img src="image/vintas/Blog-1980s_4.jpg" alt="">
        </div>
    </div>
    <div class="news-detail-cont container-fluid px-0">
        <br>Trong quá trình tìm kiếm chất liệu để thể hiện concept, chúng tôi may mắn gặp được một nhóm bạn trẻ mang sẵn  "nét xưa Vintas" trong tính cách. Họ vốn đã yêu Sài Gòn, yêu những điều xưa cũ và gần gũi nơi đây. Do đó, câu chuyện về một ngày bình thường trong bối cảnh "hơi khác thường" của cậu thanh niên Thích Thanh Thế được xây dựng với cảm xúc rất tự nhiên, chân thật.
        <br>
        <div class="iframe-container"><iframe width="1920" height="969" src="https://www.youtube.com/embed/eWSD_ijJYuA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe></div>
        <br>
        Vintas Saigon 1980s Pack đã lên kệ tại tất cả các cửa hàng chính thức của Ananas và sẵn sàng chờ bạn đến COP. Dù là một người lớn lên tại Sài Gòn, hay chỉ đơn thuần yêu nét đẹp bình dị của Sài Gòn ngày xưa, Saigon 1980s đều có thể là đôi giày dành cho bạn.
        <br>
        <div class="img-full"><img src="image/vintas/Blog-1980s_5.jpg" alt=""></div>
    </div>
    <div class="news-detail-cont container-fluid px-0" style="padding-top: 30px;">
        <div class="divider-1"></div>
    </div>
    <div class="home-news container-fluid hidden-xs hidden-sm">
        
        <div class="row title">BÀI VIẾT KHÁC</div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 post-item">
                <a href="/new"><img src="image/home/1.jpg" alt=""></a>
                <h3 class="post-title"><a href="/new" style="text-decoration: none; " >URBAS CORLURAY PACK</a></h3>
                <h3 class="post-des">Urbas Corluray Pack đem đến lựa chọn “làm mới mình” với sự kết hợp 5 gam màu mang sắc thu; phù hợp với những người trẻ năng động, mong muốn thể hiện cá tính riêng biệt khó trùng lặp.</h3>
                <h3 class="post-detail"><a href="/new">Đọc thêm</a></h3>
            </div>
            
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 post-item">
                <a href="/sneaker-new"><img src="image/home/3.jpg" alt=""></a>
                <h3 class="post-title"><a href="/sneaker-new" style="text-decoration: none;">SNEAKER FEST VIETNAM VÀ SỰ KẾT HỢP</a></h3>
                <h3 class="post-des">Việc sử dụng dáng giày Vulcanized High Top của Ananas trong thiết kế và cảm hứng bắt nguồn từ linh vật Peeping - đại diện cho tinh thần xuyên suốt 6 năm qua Sneaker Fest Vietnam, chúng tôi tự tin đây sẽ là sản phẩm đáng mong chờ cho mọi “đầu giày” vào mùa hè năm nay...</h3>
                <h3 class="post-detail"><a href="/sneaker-new">Đọc thêm</a></h3>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 post-item">
                <a href="/vulcan-new"><img src="image/home/4.jpg" alt=""></a>
                <h3 class="post-title"><a href="/vulcan-new" style="text-decoration: none;">"GIẢI PHẪU" GIÀY VULCANIZED</a></h3>
                <h3 class="post-des">Trong phạm vi bài viết ngắn, hãy cùng nhau tìm hiểu cấu tạo giày Vulcanized Sneaker - loại sản phẩm mà Ananas đã chọn làm "cốt lõi" để theo đuổi trong suốt hành trình của mình...</h3>
                <h3 class="post-detail"><a href="/vulcan-new">Đọc thêm</a></h3>
            </div>
        </div>

        </div>
        {{>footer}}
</body>
</html>