<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urbas</title>
    <link rel="stylesheet" href="./css/vulcan.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</head>
<body>
    {{>header}}
    <div class="news-banner-detail container-fluid px-0">
        <div class="row gx-none">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="padding: 0;">
                <img src="/image/vulcan/shoes-anatomy.jpg"style="padding: 0;" alt="">
            </div>
        </div>
    </div>
    <div class="news-detail-title container-fluid px-0">

        <h3 class="title">"GIẢI PHẪU" GIÀY VULCANIZED</h3>
      
    </div>
    <div class="news-detail-cont container-fluid px-0">
        <h3 class="divider-1"></h3>
        <br>Là bộ sản phẩm thuộc dòng Urbas, <strong>Corluray Pack</strong> đem đến lựa chọn “làm mới mình” với sự kết hợp 5 gam màu mang sắc thu; phù hợp với những người trẻ năng động, mong muốn thể hiện cá tính riêng biệt khó trùng lặp.<br><br>
        <div class="img-full">
            <img src="/image/vulcan/shoes-anatomy-thumbnail.jpg" alt="">
        </div>
    </div>
    <div class="news-detail-cont container-fluid" style="padding: 0;">
        <div class="note">Urbas Corluray Pack đem đến cho bạn một cảm giác khác "lạ".</div>
    </div>
    <div class="news-detail-date container-fluid" style="padding: 0px;padding-top: 20px;">
        <h3 class="divider-1"></h3>
        <h3 class="title-2">CORLURAY = 'COR'(DUROY) + (CO)'LOUR' + 'RAY'</h3>
        <h3 class="divider-1"></h3>
    </div>
    <div class="news-detail-cont container-fluid" style="padding: 0;">
        <br>Chất liệu <em>Corduroy</em> lần đầu tiên được ứng dụng trên dáng giày Low/High Top quen thuộc, kết hợp với cảm hứng bất chợt từ những tia nắng (ray) cuối cùng của kì nghỉ xuân “dài hạn", vượt qua mùa hạ để chạm thẳng sang thu. Hai yếu tố trên phối trộn cùng với những gam màu tươi tắn để tạo nên một cái tên <strong>Corluray</strong>đầy ý nghĩa <br><br>
        <div class="img-full">
            <img src="/image/vulcan/shoess-anatomy-1.jpg" alt="">
        </div>
    </div>
    <div class="news-detail-cont container-fluid" style="padding: 0;">
        <div class="note">Chất liệu Corduroy (vải nhung) lần đầu tiên được Ananas ứng dụng trên giày</div>
    </div>
    <div class="news-detail-cont container-fluid" style="padding: 0;">
    <br>Hẳn mọi người đã không mấy xa lạ với chất liệu Corduroy - Nhung gân với các sợi nổi trên bề mặt cùng tính chất bền bỉ, đa dụng và ấm áp. Đặc biệt, tên gọi khác của loại vải Corduroy sợi to (3-8 sợi/inch) - <strong>Elephant Cord</strong>  được chúng tôi cố tình cho xuất hiện cầu kỳ trên tất cả các phối màu của bộ sản phẩm nhằm nhấn mạnh và tạo ấn tượng với việc lần đầu tiên ứng dụng loại vải khác trên phần Upper. <br><br>
    <div class=" img-style-3">
        <div class="img-left1"><div class="cont-img"><img src="/image/urbas/pro_A61089_7.jpg" alt=""></div></div>
        <div class="img-right1"><div class="cont-img"><img src="/image/urbas/pro_A61092_7.jpg" alt=""></div></div>
    </div>
    <div class="news-detail-cont container-fluid" style="padding: 0;">
        <div class="note">Corduroy gân to (3-8 sợi/inch) còn được gọi bằng tên thân thuộc <strong>Elephant Cord</strong></div>
    </div>
    <br>
    Cảm xúc từ những tia nắng cuối cùng cho phép ý tưởng lộ nét nổi bật ở những gam màu rực rỡ nhưng vẫn trầm ấm và dịu dàng, đủ truyền tải sự chuyển giao giữa 2 mùa. Với các colorways: Grasses (cỏ úa), Mouse (xám tro), Mudbrick (đỏ đất), Faded Pink (hồng phai) và Deep Green (lá giao mùa) là tên gọi ứng với 5 màu sắc chủ đạo dễ bắt gặp ở các bức tranh phong cảnh tổng thể của mùa thu. <br><br>
    <div class="news-detail-cont container-fluid px-0" style="padding: 0;">
    <div class="img-style-6">
        <div class="img-left"><img src="/image/vulcan/shoess-anatomy-1.jpg" alt=""></div>
        <div class="img-right"><img src="/image/vulcan/2.jpg" alt=""></div>
        <div class="img-full"><img src="/image/vulcan/shoess-anatomy-5.jpg" alt=""></div>
    </div></div>
    <div class="news-detail-cont container-fluid" style="padding: 0;">
        <div class="note">Cảm hứng màu sắc và xử lí thiết kế bằng cách xoay hướng các đường vân song song của chất liệu corduroy</div>
        <br>Sau quá trình tìm hiểu những phương án mới, các chi tiết thiết kế (không thể bỏ qua) chưa từng xuất hiện trong các sản phẩm trước đây đã được dùng để thể hiện trên bộ sản phẩm lần này. Urbas Corluray kết hợp nhiều tiểu tiết “nâng khăn sửa túi” với nút oze bạc đóng dẹp tạo thành lỗ xỏ dây giày. Chạy quanh các nút này là dây bản tròn được thay thế có ý đồ. Dây màu trắng ngà với đầu tips tiệp màu Upper chính là yếu tố “ghi bàn” góp phần đánh bật các đường gân trên nền chất liệu chính. Ngoài ra, sự chuyển giao được “hoạ” thực tế bằng chi tiết line dọc trải dài phần Foxing ở hai phiên bản Low/High Top. Tất cả tạo thành một tổng thể màu sắc nhưng nhẹ nhàng vừa đủ, phù hợp với những người trẻ muốn ghi dấu ấn cá nhân riêng biệt. <br><br>
    </div>
</div>

    <div class="news-detail-cont-1 container-fluid px-0">
        <div class="img-style-5">
            <div class="img"> 
                <img src="/image/urbas/1.jpg" alt="">
            </div>
            <div class="img"> 
                <img src="/image/urbas/2.jpg" alt="">
            </div>
            <div class="img"> 
                <img src="/image/urbas/3.jpg" alt="">
            </div>
        </div>
        <br>
        <div class="news-detail-cont container-fluid px-0">
            <div class="img-style-3">
                <div class="img-left1">
                    <div class="cont-img">
                        <img src="/image/urbas/4.jpg" alt="">
                    </div>
                </div>
                <div class="img-right1">
                    <div class="cont-img">
                        <img src="/image/urbas/5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="news-detail-cont container-fluid" style="padding: 0;">
            <div class="note">Ứng dụng biến hoá khi kết hợp với các item khác để tạo nên các phong cách thời trang khác nhau.</div>
        </div>
    </div>
    <div class="news-detail-date container-fluid" style="padding: 0; padding-top:20px ;">
        <h3 class="divider-1"></h3>
        <h3 class="title-2">URBAS CORLURAY PACK - HIỆN ĐÃ LÊN KỆ TẠI TẤT CẢ CÁC CỬA HÀNG TRONG HỆ THỐNG</h3>
        <h3 class="divider-1"></h3>
        <br>
        Với size run từ 35 - 46 cho tất cả các màu, Urbas Corluray Pack chắc chắn là một lựa chọn hợp lí cho những ai yêu thích thời trang phi giới tính. Hiện bộ sản phẩm đã sẵn sàng trên kệ tại tất cả các cửa hàng hệ thống
        <h3 class="divider-1" style="margin-top: 20px;"></h3>
    </div>
    <div class="home-news container-fluid hidden-xs hidden-sm">
        <div class="row title">BÀI VIẾT KHÁC</div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 post-item">
                <a href="/new"><img src="/image/home/Corluray_bannerweb_desktop1920x1050.jpg" alt=""></a>
                <h3 class="post-title"><a href="/new" style="text-decoration: none; " >URBAS CORLURAY PACK</a></h3>
                <h3 class="post-des">Urbas Corluray Pack đem đến lựa chọn “làm mới mình” với sự kết hợp 5 gam màu mang sắc thu; phù hợp với những người trẻ năng động, mong muốn thể hiện cá tính riêng biệt khó trùng lặp.</h3>
                <h3 class="post-detail"><a href="/new">Đọc thêm</a></h3>
            </div>
            <div class="col-xs4 col-sm-4 col-md-4 col-lg-4 post-item">
                <a href="/vintas-new"><img src="/image/home/2.jpg" alt=""></a>
                <h3 class="post-title"><a href="/vintas-new" style="text-decoration: none;">VINTAS SAIGON 1980s</a></h3>
                <h3 class="post-des">Với bộ 5 sản phẩm, Vintas Saigon 1980s Pack đem đến một sự lựa chọn “cũ kỹ thú vị” cho những người trẻ sống giữa thời hiện đại nhưng lại yêu nét bình dị của Sài Gòn ngày xưa ...</h3>
                <h3 class="post-detail"><a href="/vintas-new">Đọc thêm</a></h3>
            </div>
            
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 post-item">
                <a href="/sneaker-new"><img src="/image/home/3.jpg" alt=""></a>
                <h3 class="post-title"><a href="/sneaker-new" style="text-decoration: none;">SNEAKER FEST VIETNAM VÀ SỰ KẾT HỢP</a></h3>
                <h3 class="post-des">Việc sử dụng dáng giày Vulcanized High Top của Ananas trong thiết kế và cảm hứng bắt nguồn từ linh vật Peeping - đại diện cho tinh thần xuyên suốt 6 năm qua Sneaker Fest Vietnam, chúng tôi tự tin đây sẽ là sản phẩm đáng mong chờ cho mọi “đầu giày” vào mùa hè năm nay...</h3>
                <h3 class="post-detail"><a href="/sneaker-new">Đọc thêm</a></h3>
            </div>
         
        </div>

        </div>
 {{>footer}}
</body>
</html>