*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
body{line-height:1.5;font-family:sans-serif;text-transform:uppercase;font-size:16px;color:#fff}
#header a{text-decoration:none;color:#fff;font-size: 18px;}
#header{background:#000000;width:100%;position:relative}
#header:after{content:"";clear:both;display:block}
.search{float:right;padding:30px}
input{border:none;padding:10px;border-radius:20px}
#header .logo{float:left;padding:16px 0 16px}
#header .logo{padding-left: 100px;}
#header .logo img
{
  max-width: auto;
  max-height: 50px;
}
#header nav{float:right;}
#header nav>ul{float:left;position:relative}
#header nav li{list-style:none;float:left}
#header nav li a{float:left;padding:35px}
#header nav li a:hover{background:rgb(70, 70, 70); color:#e44f0a;border-radius: 5%;}
#header nav li ul{display:none}
#header nav li:hover ul{display:inline}
#header nav li li{float:none}
#header nav li li a{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px}
#header nav li li a:hover{color:#000000;background:#FAFBFB}
#header .mega-col{width:25%;float:left}
#header #menu-icon{position:absolute;right:0;top:50%;margin-top:-12px;margin-right:30px;display:none}
#header #menu-icon span{border:2px solid #fff;width:30px;margin-bottom:5px;display:block;-webkit-transition:all .2s;transition:all .1s}
@media only screen and (max-width: 1170px) {
  nav >ul>li >a{padding:35px 15px}
}
@media only screen and (min-width: 1050px) {
  nav{display:block!important}
}
@media only screen and (max-width: 1050px) {
  nav{display:none;width:100%;clear:both;float:none;max-height:400px;overflow-y:scroll}
  #menu-icon{display:inline;top:45px;cursor:pointer}
  #menu-icon.active .first{transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:10px}
  #menu-icon.active .second{transform:rotate(135deg);-webkit-transform:rotate(135deg);position:relative;top:-9px;}
  #menu-icon.active .third{display:none}
  .search{float:none}
  .search input{width:100%}
  nav{padding:10px}
  nav ul{float:none}
  nav li{float:none}
  nav ul li a{float:none;padding:8px;display:block}
  #header nav ul ul{display:block;position:static;background:none;border:none;padding:0}
  #header nav a{color:#fff;padding:8px}
  #header nav a:hover{background:#fff;color:#333;border-radius:3px}
  #header nav ul li li a:before{content:"- "}
  .mega-col{width:100%}
}

.carousel-item a{text-decoration:none;color: #000000;}
.carousel-item a:hover{color: tomato;}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  padding-top: 10px;
}