  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: 0;
    font-family: GeometricExtraBold;
    font-weight: normal;
    color: #000;
  }

  a:hover { color: #f15e2c; text-decoration: none;}
  
  @media (min-width: 1200px) {
    .container {
      width: 970px;
    }
  }
  
  .prd-detail-img {
    margin-left: 0px;
    margin-right: 40px;
    margin-top: 40px;
  }
  .prd1-right-items {
    margin-left: -20px;
    margin-right: -20px;
    min-height: 200px;
  }
  .prd1-right-items {
    clear: both;
  }
  .prd-detail-img .item {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
  }
  .prd1-right-items .item {
    margin-bottom: 20px;
  }
  .prd-detail-img .thumbnail {
    display: inline-block;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: #f1f1f1 1px solid;
    border-radius: 0px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .prd-detail-slide1 .thumbnail {
    display: inline-block;
    padding: 0px 1px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }
  .prd-detail-slide .thumbnail {
    display: inline-block;
    padding: 0px 10px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .prd1-right-items .thumbnail {
    display: inline-block;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .prd-detail-slide1 .thumbnail .cont-item,
  .prd-detail-slide .thumbnail .cont-item,
  .prd-detail-img .thumbnail .cont-item,
  .prd1-right-items .thumbnail .cont-item {
    text-align: center;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
    position: relative;
  }
  .prd1-right-items .thumbnail .cont-item.post {
    padding-top: 55%;
  }
  .prd-detail-slide .thumbnail .cont-item {
    margin-bottom: 15px;
  }
  .prd1-right-items .thumbnail .cont-item .black-rect,
  .prd1-right-items .thumbnail .cont-item video,
  .prd-detail-img .thumbnail .cont-item img,
  .prd1-right-items .thumbnail .cont-item img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .prd1-right-items .thumbnail .cont-item .black-rect {
    background-color: #000;
    opacity: 0.5;
    z-index: 9;
  }
  .prd-detail .prd-detail-slide .thumbnail .videoFullHeight,
  .home-best-seller .prd-detail-slide .thumbnail .videoFullHeight,
  .prd1-right-items .thumbnail .videoFullHeight {
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:auto;
    height: 100%;
  }
  .prd-detail-slide1 .thumbnail .cont-item img,
  .prd-detail-slide .thumbnail .cont-item img,
  .prd-detail-img .thumbnail .cont-item img,
  .prd1-right-items .thumbnail .cont-item img,
  .prd1-right-items .thumbnail .cont-item.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .prd1-right-items .thumbnail .cont-item img.inormal {
    display: block;
  }
  .prd1-right-items .thumbnail .cont-item img.ihover {
    display: none;
  }
  .prd1-right-items .thumbnail:hover .cont-item img.inormal {
    display: none;
  }
  .prd1-right-items .thumbnail:hover .cont-item img.ihover {
    display: block;
  }
  
  .thumbnail .tag-blue,
  .thumbnail .tag-grey {
    position: absolute;
    z-index: 85;
    width: 45%;
    text-align: center;
    color: #fff;
    font-family: GeometricExtraBold;
    font-size: 16px;
    font-style: italic;
    top: 10%;
    background-color: #004e9b;
    height: 2em;
    padding-top: 4px;
  }
  .thumbnail .tag-grey {
    background-color: #303030;
  }
  
  .prd1-right-items .thumbnail .soldout-text {
    position: absolute;
    z-index: 85;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: GeometricExtraBold;
    font-size: 23px;
    top:50%;
  }
  .prd1-right-items .thumbnail .button {
    text-align: center;
    position: relative;
    height: 60px;
    top:-60px;
    z-index: 85;
  }
  .prd1-right-items .thumbnail .btn-prd1-buynow {
    border-radius: 0px;
    background-color: #f15e2c;
    border: #f15e2c 1px solid;
    color: #fff;
    font-family: GeometricExtraBold;
    font-size: 23px;
    width: 180px;
    height: 60px;
    padding-top: 16px;
    opacity: 0;
  }
  
  .prd1-right-items .thumbnail .btn-prd1-heart {
    border-radius: 0px;
    background: url(../images/svg/Heart_product_1.svg) no-repeat;
    border: none;
    width: 35px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 18px;
  }
  .prd1-right-items .thumbnail .btn-prd1-heart-active {
    border-radius: 0px;
    background: url(../images/svg/Heart_product_2.svg) no-repeat;
    border: none;
    width: 35px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 18px;
  }
  
  .prd-detail-slide .thumbnail .caption {
    text-align: center;
    padding: 0px;
    margin-top: 0px;
  }
  .prd1-right-items .thumbnail .caption{
    text-align: center;
    padding: 0px;
    margin-top: -40px;
  }
  .prd-detail {
    max-width: 1200px;
    margin-top:30px;
    margin-bottom:30px;
  }
  .prd-detail .breadcrumb {
    background: transparent;
    border-bottom: #000 3px solid;
    border-radius: 0px;
    padding: 8px 15px 8px 0px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .prd-detail .breadcrumb>.active {
    color: #000;
    font-weight: bold;
  }
  .prd-detail .breadcrumb li a:active,
  .prd-detail .breadcrumb li a {
    font-family: NunitoSanRegular;
    text-decoration: none;
    color: #000;
  }
  
  .prd-detail .wrapper-slide {
    margin-right: 40px;
    overflow: hidden;
  }
  
  .prd-detail .prd-detail-main-img {
    margin-bottom: 20px;
    position: relative;
  }
  .prd-detail .prd-detail-main-img .main-img{
    text-align: center;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .prd-detail-title {
    font-family: GeometricExtraBold;
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .prd-detail-divider {
    margin: 40px 0px;
    background-color: #fff;
    background: url(../images/bg_divider.png) repeat-x 7px;
    height: 2px;
  }
  
   h4,
  .prd-detail-right h4 {
    font-family: GeometricExtraBold;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.4em;
  }
   h6,
  .prd-detail-right h6 {
    font-family: NunitoSanRegular;
    font-size: 16px;
    line-height: 1.4em;
    clear: both;
    overflow: hidden;
  }
  .prd-detail-right h5.detail1,
  .prd-detail-right h6.detail1 {
    margin: 30px 0px 30px 0px;
  }
  .prd-detail-right h5{
    font-family: GeometricExtraBold;
    font-size: 23px;
    margin-top: 10px;
  }
  .prd-detail-right h5 .saleprice {
    color: #f15e2c;
  }
  .prd-detail-right h5 .realprice {
    color: #808080;
    font-size: 16px;
    text-decoration: line-through;
    margin-left:20px;
  }
  .prd-detail-right .divider {
    /* border-bottom:#808080 2px dashed;
    margin: 4px 0px; */
    margin: 15px 0px;
    background-color: #fff;
    background: url(../images/bg_divider.png) repeat-x 7px;
    height: 2px;
  }
   .divider-1,
  .prd-detail-right .divider-1 {
    margin: 0px 0px;
    background-color: #fff;
    background: url(../images/bg_divider.png) repeat-x 7px;
    height: 2px;
  }
  .prd-detail-right .divider-2 {
    margin: 0px 0px;
    border-top: #000 3px solid;
    display: none;
  }
  .prd-detail-right .color {
    margin-top: 25px;
  }
  .prd-detail-right .cb-color-fixed label {
    padding: 3px 0px 0px 3px;
    width: 40px;
    height: 40px;
    border: #fff 2px solid;
    margin-bottom: 3px;
    cursor: pointer;
  }
  .prd-detail-right .cb-color-checked {
    border: #000 2px solid !important;
  }
  .prd-detail-right .cb-color-fixed .bg-color {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 999;
    display: block;
    border:#e1e1e1 1px solid;
  }
  .prd-detail-right select.form-control option {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .prd-detail-right .bootstrap-select button,
  .prd-detail-right .bootstrap-select .dropdown-menu {
    border-radius: 0px;
    background-color: #fff;
    border: #a5a5a5 1px solid;
    font-family: NunitoSanExtraBold;
    font-size: 16px;
  }
  .prd-detail-right .bootstrap-select.btn-group .dropdown-menu li {
    float : left;
    border:#808080 1px solid;
    margin-left: -1px;
    margin-bottom: -1px;
  }
  .prd-detail-right .bootstrap-select.btn-group .dropdown-menu li a span.text {
    font-family: NunitoSanRegular;
    font-size: 16px;
  }
  .prd-detail-right .bootstrap-select.btn-group .dropdown-menu li.selected {
    background-color: #f1f1f1;
  }
  .prd-detail-right .bootstrap-select.btn-group .dropdown-menu li.selected a span.text{
    font-family: NunitoSanExtraBold;
  }
  .prd-detail-right .bootstrap-select.btn-group .dropdown-menu li:first-child {
    display: none;
  }
  .prd-detail-right .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    display: none;
  }
  .prd-detail-right .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 0px;
    font-family: NunitoSanRegular;
    font-size: 16px;
  }
  .prd-detail-right .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.text {
    font-family: NunitoSanExtraBold;
    font-size: 16px;
  }
  .prd-detail-right .dropdown-menu>li>a {
    display: block;
    padding: 14px 0px 0px 0px;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .dropdown-menu>.disabled>a,
  .dropdown-menu>.disabled>a:hover,
  .dropdown-menu>.disabled>a:focus {
    color: #ccc;
  }
  .prd-detail-right .bootstrap-select.btn-group .dropdown-menu.inner {
    padding-left: 6px;
    overflow: unset !important;
  }
  .bootstrap-select.btn-group .dropdown-toggle .caret {
    background: #fff url(../images/icon_down_black.png) no-repeat;
    position: relative;
    width: 12px;
    height: 8px;
    border: none;
    right: 1px;
  }
  
  
  .prd-detail-right .btn-like,
  .prd-detail-right .btn-addcart,
  .prd-detail-right .btn-checkout {
    background-color: #f15e2c;
    border-radius: 0px;
    color: #fff;
    font-family: GeometricExtraBold;
    font-size: 23px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 0px;
    display: block;
  }
  .prd-detail-right .btn-addcart {
    background-color: #000;
    width: 75%;
    float: left;
    height: 73px;
  }
  
  .prd-detail-right .grp-btn1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .prd-detail-right  {
    margin-bottom: 0px;
  }
    .panel,
  .prd-detail-right  .panel {
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
  }
    .panel .panel-heading a:active,
    .panel .panel-heading a,
  .prd-detail-right  .panel .panel-heading a:active,
  .prd-detail-right  .panel .panel-heading a {
    font-family: GeometricExtraBold;
    font-size: 23px;
    text-decoration: unset;
    color: #f15e2c;
  }
    .panel .panel-heading a.collapsed,
  .prd-detail-right  .panel .panel-heading a.collapsed {
    color: #000;
  }
    .panel .panel-heading a .caret,
  .prd-detail-right  .panel .panel-heading a .caret{
    background: #fff url(../images/icon_up_orange.png) no-repeat;
    position: relative;
    width: 12px;
    height: 8px;
    border: none;
  
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
    .panel .panel-heading a.collapsed .caret,
  .prd-detail-right .panel .panel-heading a.collapsed .caret{
    background: #fff url(../images/icon_down_black.png) no-repeat;
    position: relative;
    width: 12px;
    height: 8px;
    border: none;
    transform: rotate(0deg);
  }

    .panel .panel-heading,
  .prd-detail-right  .panel .panel-heading {
    /* padding: 30px 0px; */
    background-color: #fff;
  }
    .panel-heading+.panel-collapse>.panel-body,
  .prd-detail-right  .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
  }
  .color ul
  {
    list-style: none;
  }
  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  