body {
  background: #ffffff;
}
.flex-row-reverse {
  background-color: #4c4c4c;
}
.top header {
  background-color: #000000;
}
.flex-row-reverse a {
  color: #ffffff;
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: chocolate;
}
/*  */
.dacbiet {
  background-color: #f1f1f1;
}
.dacbiet a {
  color: #000000;
  text-decoration: none;
}
/*  */
.breadcrumb::before {
  content: "";
  display: block;
  height: 10px;
  width: 2px;
  background-color: #000000;
}
.bd-highlight a {
  color: #000000;
  text-decoration: none;
  font-size: 0.6rem;
}
.container-fluid img {
  max-width: auto;
  height: 80px;
}
.container .col img {
  max-width: 564px;
  height: auto;
}
.carousel-control-prev-icon {
  background-image: url(/Img/back.png);
}
.carousel-control-next-icon {
  background-image: url(/Img/next.png);
}

.accordion-flush {
  margin: 0;
  padding: 0;
}
.footer {
  background-color: rgb(247, 247, 247);
}
.footer ul {
  list-style: none;
}
.footer h4 {
  color: chocolate;
}
.footer ul a {
  text-decoration: none;
  color: #000000;
}
.sp-lienquan .title-sp {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}
.text-sp p {
  margin: 0;
  padding: 0;
}
.text-sp {
  text-align: center;
}
.text-sp a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
}
.text-sp .color {
  color: rgb(170, 170, 170);
}
.text-sp .price {
  font-weight: 700;
}
