<div class="footer container-fluid hidden-xxl hidden-sm px-5" style="padding-top: 5rem; background-color: rgb(159, 159, 159);" >
    <div class="row ">
        <div class="col-md-3  sec-search">
          <div class="col-md-3 icon-bct ">
            <a href="http://online.gov.vn/Home/WebDetails/61921"><img src="/Img/Screenshot 2023-11-04 215329.png" style="max-width: 500%;"></a>
        </div>
        </div>

        <div class="col-md-9 sec-cont">
            <div class="row sec-cont-menu">
              <div class="col-md-3">
                <a href="https://ananas.vn/#" style="text-decoration: none;"><h4>SẢN PHẨM</h4></a>
                <ul>
                  <li><a href="/product-list?gender=men&amp;category=shoes&amp;attribute=">Giày Nam</a></li>
                  <li><a href="/product-list?gender=women&amp;category=shoes&amp;attribute=">Giày Nữ</a></li>
                  <li><a href="/product-list?gender=men,women&amp;category=top,bottom,accessories&amp;attribute=">Thời trang &amp; Phụ kiện</a></li>
                  <li><a href="/promotion/clearance-sale/">Sale-off</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <a href="https://ananas.vn/#" style="text-decoration: none;"><h4>VỀ CÔNG TY</h4></a>
                <ul>
                  <li><a href="/career">Thông tin tuyển dụng</a></li>
                  <li><a href="/franchise-policy">Liên hệ nhượng quyền</a></li>
                  <li><a href="/comming-soon">Về Ananas</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <a href="https://ananas.vn/#" style="text-decoration: none;"><h4>HỖ TRỢ</h4></a>
                <ul>
                  <li><a href="/faqs">FAQs</a></li>
                  <li><a href="/privacy">Bảo mật thông tin</a></li>
                  <li><a href="/policy">Chính sách chung</a></li>
                  <li><a href="/search-order/">Tra cứu đơn hàng</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <a href="https://ananas.vn/#" style="text-decoration: none;"><h4>LIÊN HỆ</h4></a>
                <ul>
                  <li><a href="/comming-soon">Email góp ý</a></li>
                  <li><a href="">Hotline</a></li>
                  <li><a href="">0963 429 749</a></li>
                </ul>
              </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h4>Yiyeon SOCIAL</h4>
                    <a href="https://www.facebook.com/Ananas.vietnam/"><img src="/Img/facebook.png" style="max-width: 20%; height: auto;"></a>&nbsp;
                    <a href="https://www.instagram.com/ananasvn/"><img src="/Img/instagram.png" style="max-width: 20%; height: auto;"></a>&nbsp;
                    <a href="https://www.youtube.com/discoveryou"><img src="/Img/youtube.png" style="max-width: 25%; height: auto;"></a>
                </div>
                <div class="col-md-3">
                    <h4>ĐĂNG KÝ NHẬN MAIL</h4>
                    <div class="form-group subscribe-group d-flex">
                        <input type="email" class="form-control inputReceiveMail" id="inputRecieveMail">
                    </div>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-9 copyright">
                    Copyright © 2022 Yiyeon. All rights reserved.
                </div>
            </div>
        </div>
    </div>