<div id="header">
    <div class="logo">
      <a href="#">Ji Yeon</a>
    </div>  
    <nav>
      <form class="search" action="search.php"> 
        <input name="q" placeholder="Tìm Kiếm ...." type="search">
      </form>
      <ul>
        <li>
          <a href="">TRANG CHÍNH</a>
        </li>
        <li>
          <a href="">SẢN PHẨM</a>
        </li>
        <li class="dropdown">
          <a href="">NAM</a>      
        </li>
        <li>
          <a href="">NỮ</a>
        </li>
        <li>
          <a href="">GIẢM GIÁ</a>
        </li>
      </ul>
    </nav>
  </div>