<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/css/hd.css">
      

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="/js/script.js"></script>     
</head>

<div id="header">
    <div class="logo">
      <a href="#">Ji Yeon</a>
    </div>  
    <nav>
      <form class="search" action="search.php"> 
        <input name="q" placeholder="Tìm Kiếm ...." type="search">
      </form>
      <ul>
        <li>
          <a href="">TRANG CHÍNH</a>
        </li>
        <li>
          <a href="">SẢN PHẨM</a>
        </li>
        <li class="dropdown">
          <a href="">NAM</a>      
        </li>
        <li>
          <a href="">NỮ</a>
        </li>
        <li>
          <a href="">GIẢM GIÁ</a>
        </li>
      </ul>
    </nav>
  </div>